<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>POS
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
          </button> 
    </mat-toolbar>
    <mat-nav-list>
      <button mat-button>
        <mat-icon>dialpad</mat-icon>
         <span> Dashboard</span>
      </button><br>
      <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>memory</mat-icon>
        <span>Products</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='./products/productlist'>
          <mat-icon>dialpad</mat-icon>
          <span>Product List</span>
        </button>
        <button mat-menu-item routerLink='./products/new'>
          <mat-icon>loupe</mat-icon>
          <span> New Product</span>
        </button>
        <button mat-menu-item routerLink='./products/edit'>
          <mat-icon>grid_on</mat-icon>
          <span>Edit Product</span>
        </button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="!isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> 
      POS</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>